.DS_Store
*.pyc
*.egg-info
*.swp
tags
agrierp/docs/current
.scratch
*.py~
conf.py
locale
latest_updates.json
.wnf-lang-status
dist/
erpnext/docs/current
*.swo
__pycache__
*~
.idea/
.vscode/
node_modules/